<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletListarAlumno</servlet-name>
        <servlet-class>controlador.servletListarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAlumno</servlet-name>
        <servlet-class>controlador.servletAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListar</servlet-name>
        <servlet-class>controlador.servletListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servAlumno</servlet-name>
        <servlet-class>controlador.servAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletListarAlumno</servlet-name>
        <url-pattern>/servletListarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAlumno</servlet-name>
        <url-pattern>/servletAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListar</servlet-name>
        <url-pattern>/servletListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servAlumno</servlet-name>
        <url-pattern>/servAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
